<% form_for @line_item do |f| %>
  <p>
    <%= f.label :quantity %><br />
    <%= f.select :quantity, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8] ] %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
